.item_icon_001{
	margin-top: 3px;
	background-image: url(/project/vframe/images/menuItem.gif) !important;
}
.btn_icon_001{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_export.png) !important;
}
.btn_icon_0011{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_import.png) !important;
}
.btn_icon_002{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_pdf.png) !important;
}
.btn_icon_003{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_edit.png) !important;
}
.btn_icon_004{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_save.gif) !important;
}
.btn_icon_005{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_save_add.gif) !important;
}
.btn_icon_006{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_save_close.gif) !important;
}
.btn_icon_007{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_new_add.gif) !important;
}
.btn_icon_008{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_delete.png) !important;
}
.btn_icon_009{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_find.png) !important;
}
.btn_icon_010{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_shuaxin.png) !important;
}
.btn_icon_011{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_yes.png) !important;
}
.btn_icon_012{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_ratify.gif) !important;
}
.btn_icon_013{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_refuse.png) !important;
}
.btn_icon_014{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_record.png) !important;
}
.btn_icon_015{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_submit.png) !important;
}
.btn_icon_016{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_cancel.gif) !important;
}
.btn_icon_017{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_read.png) !important;
}
.btn_icon_018{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_save_copy.png) !important;
}
.btn_icon_019{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_issue.gif) !important;
}
.btn_icon_020{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_cancel.gif) !important;
}
.btn_icon_021{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_look.png) !important;
}
.btn_icon_022{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_think.png) !important;
}
.btn_icon_023{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/zhuanchengrenwujihua.png) !important;
}
.btn_icon_024{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/shengchenggaocengjihua.png) !important;
}
.btn_icon_025{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/qingchugaocengjihua.png) !important;
}
.btn_icon_026{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_up.png) !important;
}
.btn_icon_027{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_down.png) !important;
}
.btn_icon_028{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/setting.gif) !important;
}
.btn_icon_029{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/clean.png) !important;
}
.btn_icon_030{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/currentPhase.png) !important;
}
.btn_icon_031{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/icon_add_16.png) !important;
}
.btn_icon_032{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_table.png) !important;
}
.btn_icon_033{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_use.png) !important;
}
.btn_icon_034{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_unuse.png) !important;
}
.btn_icon_035{
	margin-top: 3px;
	background-image: url(/project/vframe/images/other/icon_tip.png) !important;
}
.btn_icon_036{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_tableview.png) !important;
}
.btn_icon_037{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_treeview.png) !important;
}
.btn_icon_038{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_zxsj.gif) !important;
}
.btn_icon_039{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_project.png) !important;
}
.btn_icon_040{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sz.png) !important;
}
.btn_icon_041{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_szbjx.png) !important;
}
.btn_icon_042{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/icon_back.png) !important;
}
.btn_icon_043{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_findlink.png) !important;
}
.btn_icon_sp_039{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sp_date.png) !important;
}
.btn_icon_sp_040{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sp_save.png) !important;
}
.btn_icon_sp_041{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sp_sub.gif) !important;
}
.btn_icon_sp_0411{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_sp_no.gif) !important;
}
.btn_icon_sp_0412{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sp_save.gif) !important;
}
.btn_icon_sp_042{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_sp_yes.gif) !important;
}
.btn_icon_sp_043{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_sp_no.gif) !important;
}
.btn_icon_044{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_gz.png) !important;
}
.btn_icon_045{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_gzt.png) !important;
}
.btn_icon_046{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_move.png) !important;
}
.btn_icon_047{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_down.png) !important;
}
.btn_icon_048{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sc.png) !important;
}
.btn_icon_049{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_sq.png) !important;
}
.btn_icon_cat{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/category.png) !important;
}
.btn_icon_edit{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_edit.png) !important;
}
.btn_icon_preview{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_look.png) !important;
}
.btn_icon_addversion{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_new_add.png) !important;
}
.btn_icon_downone{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_downone.png) !important;
}
.btn_icon_tree{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_treeview.png) !important;
}
.btn_icon_50{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_up.png) !important;
}
.btn_icon_51{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_down.png) !important;
}
.btn_icon_52{
	margin-top: 3px;
	background-image: url(/project/bpm/form/images/btn_icon_print.gif) !important;
}
.btn_icon_fsps{
	margin-top: 3px;
	background-image: url(/project/bpm/form/images/252.gif) !important;
}
.btn_icon_jsps{
	margin-top: 3px;
	background-image: url(/project/bpm/form/images/250.gif) !important;
}
.btn_icon_wf_stop{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/bt_icon_wf_stop.png) !important;
}
.btn_icon_help{
	margin-top: 3px;
	background-image: url(/project/vframe/images/icon_help_header.png) !important;
}

.btn_icon_nojsmsg {
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_nomsg.png) !important;
}
.btn_icon_jsmsg {
	margin-top: 9px;
	background-image: url(/project/images/dclxi.gif) !important;
}
.btn_icon_queryOK{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_find.gif) !important;
}
.btn_icon_queryCancel{
	margin-top: 3px;
	background-image: url(/project/vframe/images/btnIcon/btn_icon_cancel.gif) !important;
}