<script type="text/javascript" src="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.patch.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-validator/i18n/zh_CN.js"></script>
<script type="text/javascript" src="static/plugins/jquery-form/3.51.0/jquery.form.js"></script>
<script type="text/javascript" src="../../../vrmhtml/js/htmldiff.js"></script>

<link rel="stylesheet" href="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.css" />
<link rel="stylesheet" href="static/plugins/base/css/main.css" />

<form id="recordForm" method="post"  role="form" class="form-horizontal" action="" >
    <div class="row">
        <div class="col-xs-12" >
            <div class="panel">
                <input type="hidden" name="changeType" id="changeType-input" value=''>
                <div class="panel-header with-border">修订内容:</div>
                <div class="label-revise mt padding5 clearfix xq-tags" id="reportHtml"></div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12" >
            <div class="panel">
                <div class="panel-header with-border">修改备注:</div>
                <div class="panel-body mt padding5 clearfix xq-tags" style="padding-top:0px;padding-bottom:0px">
                    <textarea class="form-control"  type="text" id="modifyRemark" name="modifyRemark"  maxlength="1300"  rows="8" ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="form-group" id="changeType-div">
            <label class="col-sm-2 control-label"><span style="color: red">*</span>修订类型：</label>
            <div class="col-sm-3">
                <select class="form-control" id="changeType-select" name="changeType"  dict-tip="请选择修订类型" data-value="1" style="width: 100%;" data-bv-notempty="true" data-bv-notempty-message="修订类型不能为空">
                    <option value="1">新增</option>
                    <option value="2">修改</option>
                    <option value="3">删除</option>
                </select>
            </div>
        </div>
    </div>
</form>

<script>
$(function(){
      //提示绑定事件
	  vpUtils.formvalidation($("#recordForm"),{
		submitHandler: function(form, _bootstrapValidator, e) {
            vpUtils.formSubmit(form, {
                url : config.saveReviseUrl(),
                mask : $(".modal-content"),
                maskinfo: '正在提交请稍等...',
                data:{docId:config.getDocId(),
                     remark:$("#reportHtml").html(),
                     docOutlineId:recordForm.dialog.docOutlineId,
                     dataType:recordForm.dialog.dataType}
            }, function (json) {
                var outline = recordForm.dialog.$outline;
                if(outline.find('.listRevise').length < 1){
                    var VE = window.vrmEditor;
                    VE.REVISE.addCtlReviseHelper(recordForm.dialog.$outline);
                }
                recordForm.dialogClose();
                show_message('操作成功！', 'success');
                _bootstrapValidator.disableSubmitButtons(false);
            })
        },
        excluded: [':disabled']
      });
  });
 var recordForm={
    dialog : null,
    loadData:function(dialog,data){
            this.dialog = dialog;
            this.dialog.docOutlineId = data.docOutlineId;
            this.dialog.dataType = data.dataType;
            this.dialog.orgdocWkItmContent = data.orgdocWkItmContent;
            this.dialog.newdocWkItmContent = data.newdocWkItmContent;
            if(data.orgdocWkItmContent != null && data.newdocWkItmContent !=null){
                $("#reportHtml").html(getHTMLDiff(data.orgdocWkItmContent, data.newdocWkItmContent));
            }else{
                $("#reportHtml").html(data.reportHtml);
            }     
            $("#beforeContent").html(data.beforeContent);
            $("#afterContent").html(data.afterContent);
            if(data.addReviseType && data.addReviseType == 1){
                $("#changeType-div").hide();
                $("#changeType-select").attr("disabled",true);
                $("#changeType-input").val(data.changeType);
            }else{
                $("#changeType-input").attr("disabled",true);
            }
        },
        save : function () {
            $('#recordForm').submit();
        },
        dialogClose : function () {
            recordForm.dialog.close();
        }
    }
</script>