<script type="text/javascript" src="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.patch.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-validator/i18n/zh_CN.js"></script>
<script type="text/javascript" src="static/plugins/jquery-form/3.51.0/jquery.form.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<link rel="stylesheet" href="static/plugins/bootstrap-validator/0.5.3/bootstrapValidator.css" />
<link rel="stylesheet" href="static/plugins/bootstrap-filestyle/bootstrap-filestyle.css" />

<form id="uploadForm" method="post"  role="form" class="form-horizontal"  enctype="multipart/form-data">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red">*</span>选择文档：</label>
            <div class="col-sm-8">
                <input class="form-control  ui-file"  type="file" id="docFile" name="docFile"  data-bv-notempty="true"
                       data-bv-notempty-message="文件不能为空"
                       data-bv-file="true" data-bv-file-message="文件格式不正确(*.doc,*.docx)"
                       data-bv-file-extension="doc,docx" accept=".docx,.doc"/>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $body = $('body');
        vpUtils.file('#docFile', {
            placeholder : '请选择文档（doc,docx）'
        });
        vpUtils.formvalidation('#uploadForm', {
            submitHandler: function(form, _bootstrapValidator, e) {
                vpUtils.formSubmitMask(form, {
                    url : config.uploadDocOutlineUrl(),
                    data : {outlineId: uploadForm.dialog.outlineId,
                            outlineUuid: uploadForm.dialog.outlineUuid},
                    mask : $(".modal-content"),
                    maskinfo: '正在分析文档，请稍等...'
                }, function (json) {
                    uploadForm.dialogClose();
                    vpUtils.modeWithSave({
                        title: "修改确认",
                        size: BootstrapDialog.SIZE_WIDE,
                        url: config.uploaddocoutlineconfirm(),
                        onshown: function (dialog) {
                            dialog.$modalDialog.css('width', $(window).width() * 0.5);
                            ctlPointTree.loadData(dialog, {
                                tree: editor.docstruct.tree,
                                outlineId: uploadForm.dialog.outlineId,
                                startOrigChapNum: uploadForm.dialog.startOrigChapNum
                            });
                        },
                        ok_callback: function (dialog) {
                            ctlPointTree.saveCtlPoint();
                        }
                    })
                })
            },
            excluded: [':disabled']
        });
    });
    var uploadForm = {
        dialog : null,
        save : function (dialog) {
            this.dialog = dialog;
            $('#uploadForm').submit();
        },
        dialogClose : function () {
            uploadForm.dialog.close();
        },
        loadData:function(dialog,data){
            this.dialog = dialog;
            this.dialog.tree = data.tree || {};
            this.dialog.outlineId = data.outlineId;
            this.dialog.outlineUuid = data.outlineUuid;
            this.dialog.startOrigChapNum = data.startOrigChapNum;
        },
    }
</script>