/*.x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div{
	border-style:dotted;
	border-color:#bfb8b8;
	background-color:#e0e0e0 !important;
}

.key-path-cls{
	height:30px!important;
	background-color:#aaa!important;
}*/