body {
   height:100%;
   font-size:12px;
   color:#353c44;
}
img{
   border:0;
   vertical-align:top;
 }
a:link,a:visited{
    color:#353c44;
	text-decoration:none;
}
a:hover{
   color:#990000;
   text-decoration:none;
}
.task_right{
   width:200px;
   height:100%;
   background:#f4f8fb;
   border-left:1px #7fa4b6 solid;
   border-top:1px #7fa4b6 solid;
}
.task_title{
   height:20px;
   font-size:13px;
   font-weight:bold;
   padding:6px 0 0 10px;
}
.task_info_nr{
   padding:10px;
}
.task_info_one{
   margin-bottom:10px;
}
.task_info_one th{
   height:28px;
   width:160px;
   font-weight:bold;
   padding-right:5px;
   text-align:left;
}
.task_info_onetd{
   height:26px;
}
.task_info_line{
   height:1px;
   background:#c5d5e2;
}

.task_fontblod{
   font-weight:bold;
}
.task_info_twotd{
   height:24px;
}



.task_jzgz{
   padding:10px;
}
.task_jzgz_tab{
   height:13px;
   font-weight:bold;
   font-size:13px;
}
.task_jzgz_tab_visited{
   color:#990000;
}
.task_jzgz_tab_visited a:link,.task_jzgz_tab_visited a:visited{
   color:#990000;
   text-decoration:none;
}
.task_jzgz_tab_visited{
   color:#990000;
}
.task_jzgz_tab_link a:link,.task_jzgz_tab_link a:visited{
   color:#353c44;
   text-decoration:none;
}
.task_corner_gz{
   width:13px;
   height:7px;
   background:url(/project/images/gzbg_corner.gif) no-repeat;
   margin:10px 0 0 20px;
   position:relative;
   bottom:-1px;
   font-size:0px;
   overflow:hidden;
}
.task_gzbg{
  border:1px #aabac9 solid;
  padding:5px 10px;
  background:url(/project/images/gzbg_bg.gif);
  margin-bottom:10px;
}
.task_gzbg_textbox{
  width:100%;
  height:55px;
  border:1px #b4cbdd solid;
  overflow:auto;
  color:#999999;
}
.task_gzbg_extbtn{
  padding-top:10px;
}
.task_gzbg_line_gray{
  height:1px;
  overflow:hidden;
  font-size:0;
  background:#c6c6c6;
  margin-top:10px;
}
.task_gzbg_line_white{
  height:1px;
  overflow:hidden;
  font-size:0;
  background:#fff;
}
.task_gzbg_btn{
  padding:10px 0;
}
.task_peoplefont{
   color:#1964ab;
   font-weight:bold;
}
.task_hffont{
   color:#1964ab;
}
.task_hffont a:link,.task_hffont a:visited{
   color:#1964ab;
   text-decoration:none;
}
.task_hffont a:hover{
   color:#990000;
   text-decoration:none;
}
.task_hfboxcorner{
   width:16px;
   height:7px;
   background:url(/project/images/gzbg_hfcorner.gif) no-repeat;
   margin:0px 0 0 20px;
   position:relative;
   bottom:-1px;
   font-size:0px;
   overflow:hidden;
}
.task_hfbox{
   background:#f6f7fd;
   border:1px #cacaec solid;
   padding:5px 10px 0 10px;
}
.task_hf_line{
   height:1px;
   background:#dfe0f4;
}
.task_hftextcorner{
   width:16px;
   height:7px;
   background:url(/project/images/gzbg_hftextcorner.gif) no-repeat;
   margin:0px 0 0 20px;
   position:relative;
   bottom:-1px;
   font-size:0px;
   overflow:hidden;
   margin-top:5px;
}
.task_hftext{
   background:#f4f4f4;
   border:1px #9aa0ac solid;
   padding:5px 10px 10px 10px;
}
.task_zy_info{
   border:1px #e1e1e1 solid;
   background:#fbfbfb;
   border-collapse:collapse;
   padding:10px;
}
.task_zy_info th{
   height:30px;
   width:60px;
   text-align:left;
}

.task_zy_info_rightshadow{
   width:1px;
   background:#eee;
}
.task_zy_info_bottomshadow{
   height:1px;
   background:#eee;
   overflow:hidden;
   font-size:0;
}
.task_zy_textarea{
  height:81px;
  border:1px #a6b8c4 solid;
  padding:5px 10px;
  background:url(/project/images/task_zy_textarea_bg.gif);
  margin:10px 0;
}
.special_font{
  color:#990000;
}
.add_note_date td{
   width:90px;
}
.add_note_date_visited{
   width:85px;
   height:26px;
   background:url(/project/images/add_note_date_bg.gif) no-repeat;
   vertical-align:middle;
   padding-right:18px;
   text-align:center;
}
.add_note_title_bg{
   height:20px;
   background:url(/project/images/add_note_title_bg.gif) repeat-x;
   border:1px #c6d6e3 solid;
   font-weight:bold;
   padding:5px 10px 0 10px;
   margin-bottom:10px;
}
.add_note_title{
   width:200px;
   float:left;
}
.add_note_title_icon{
   width:10px;
   padding-top:3px;
   text-align:right;
   float:right;
}

.buttonMove {
   	border:1px solid #328dc2;
	background-image: url(/project/images/btn_hover.gif);
    padding-top:2px;
    margin-top:1px;
    cursor:pointer;
    font-size:12px;
    height:21px;
    color:#FFF;
}
.buttonOut {
   	background-image: url(/project/images/btn.gif);
   	border:1px solid #328dc2;
    padding-top:2px;
    margin-top:1px;
    cursor:pointer;
    font-size:12px;
    height:21px;
    color:#FFF;
}
.button_qxMove {
   	border:1px solid #d17d00;
	background-image: url(/project/images/btn_qx_hover.gif);
    padding-top:2px;
    margin-top:1px;
    cursor:pointer;
    font-size:12px;
    height:21px;
    color:#FFF;
}
.button_qxOut {
   	background-image: url(/project/images/btn_qx.gif);
   	border:1px solid #d17d00;
    padding-top:2px;
    margin-top:1px;
    cursor:pointer;
    font-size:12px;
    height:21px;
    color:#FFF;
}

